<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing product</title>
</head>
<body>
  <h1>Edit your product</h1>
  <form action="/products/<%=product.id%>?_method=PUT" method="post">
    <label for="name">Edit name</label>
    <input type="text" id="name" name="name"value=<%=product.name%>>
    <label for="price">Edit price</label>
    <input type="text" id="price" name="price" value="<%=product.price%>">
    <select name="category" id="category">
      <% for (let category of categories){ %>
        <option value="<%=category%>" <%=product.category === category ? 'selected' : '' %>><%=category%></option>
      <%}%>
    </select>
    <button>Apply changes</button>
  </form> <br>
  <a href="/products/<%=product._id%>"><button>go back to product</button></a>
</body>
</html>